

body{
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
	color: #fff;
    background-image: url('Homepage-UC.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
	font-size: 40px;
}

#out{/* Control the button 1's position*/
    float: left;
    position: fixed;
    left: 95%;
    top: 4%;
    transform: translate(-50%, -50%);
}

#out button {/* Control the button 1's size*/
    background-color: #FAEBD7;
    width: 120px;
    font-style: italic;
    font-size : 30%;
    color: black;
}




/* #name{
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: left;
}

#email{
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: left;
} */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
  }
  
.email {
    color: grey;
    font-size: 18px;
}

#name{
    font-style: italic;
    text-align:center;
    color: black;
}


#open{
    background-color: blue;
}

  
